@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;700&display=swap');

.button{
    background-color: #6F8C6D; 
            color: black;
            font-size: 18px;
            border: none;
            padding: 16px 55px;
            border-radius: 30px;
            position: relative;
            cursor: pointer;
            box-shadow: 0px 8px 0px #4D4038;
            font-family: 'M PLUS 2', sans-serif;
}

.button:active {
    box-shadow: 0px 4px 0px #4D4038;
    transform: translateY(4px);
}

.textField { 
    font-family: 'M PLUS 2', sans-serif;
    background-color: #D9D9D9;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 0px #4A403A;
    min-height: 2.8em;
    min-width: 15em;
    padding: 10px;
    outline: none;
}